__pycache__
.coverage
.doit*
.ipynb_checkpoints
.pabotsuitenames
*.bundle.*
*.egg-info/
*.isorted
*.log
*.pdf
*.sqlite
*.tgz
*.tsbuildinfo
**/*DRAWIO_DEBUG*
**/labextensions/**
atest/output/
build/
dist/
envs/
node_modules/
untitled*
Untitled*
