[submodule "packages/ipydrawio-webpack/drawio"]
	path = packages/ipydrawio-webpack/drawio
	url = https://github.com/jgraph/drawio.git
[submodule "py_packages/jupyter-drawio-export/src/jupyter_drawio_export/vendor/draw-image-export2"]
	path = py_packages/ipydrawio-export/src/ipydrawio_export/vendor/draw-image-export2
	url = https://github.com/jgraph/draw-image-export2.git
