__pycache__
.coverage*
.doit*
.ipynb_checkpoints
.pabotsuitenames
.virtual_documents/
*.bundle.*
*.egg-info/
*.isorted
*.log
*.pdf
*.sqlite
*.tgz
*.tsbuildinfo
**/*DRAWIO_DEBUG*
atest/output/
build/
dist/
docs/api/ts
envs/
htmlcov/
node_modules/
packages/ipydrawio-webpack/dio/
py_packages/**/src/*/ext/
py_packages/ipydrawio-export/ipydrawio-export-*
py_packages/ipydrawio/ipydrawio-*
untitled*
Untitled*
